#navbar {
    background-color: #1565C0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navcontainer {
    padding: 10px;
    font-family: Ubuntu;
    color: aliceblue;
}

.links a {
    color: aliceblue;
}

#mainheader {
    padding-top: 250px;
    padding-bottom: 350px;
    font-family: Ubuntu;
    background-color: #0D47A1;
    color: aliceblue;
}

#mainheader h1 {
    font-weight: bolder;
    font-size: 60px;
}

#about {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: Ubuntu;
    background-color: #E3F2FD;
    color: #0D47A1;

}

#about h1 {
    font-weight: bolder;
}

.img img {
    width: 100%;
}

#classes {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1976D2;
    color: aliceblue;
    font-family: Ubuntu;
}

.step {
    padding: 20px;
}

#subjects {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Ubuntu;
    color: #0D47A1;
}

#statement {
    background-color: #1976D2;
    color: aliceblue;
    font-family: Ubuntu;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact {
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Ubuntu;
    background-color: #0D47A1;
    color: aliceblue;
}

#contact h1 {
    font-weight: bolder;
}

#dashboard {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Ubuntu;
    color: #0D47A1;
    background-color: #ECEFF1;
}

#dashboard h1 {
    font-weight: bolder;
}



.subject {
    padding: 20px;
}

#dashboard1 {
    padding-top: 200px;
    padding-bottom: 230px;
    font-family: Ubuntu;
    color: #0D47A1;
    background-color: #ECEFF1;
}

#dashboard1 h1 {
    font-weight: bolder;
}

 #button {
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    background-color: #1565C0;
}
 
 #button h3{
     color: #EDE7F6;
 }

 #button h4{
    color: #EDE7F6;
}

 #button a {
     color: #EDE7F6;
     text-decoration: none;
 }

 #button:hover {
     background-color: #0D47A1;
 }

 #dashboardsubject {
    padding-top: 50px;;
    padding-bottom: 50px;
    font-family: Ubuntu;
    color: #0D47A1;
    background-color: #ECEFF1;
}

#dashboardsubject h1 {
    font-weight: bolder;
}

.subjectbtn {
    padding: 20px;
}

#dashboardequation {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #ECEFF1;
    color: #0D47A1;
    font-family: Ubuntu;
}

#dashboardchem12 {
    padding-top: 230px;
    padding-bottom: 230px;
    background-color: #ECEFF1;
    color: #0D47A1;
    font-family: Ubuntu;
}

#dashboard1 {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #ECEFF1;
    color: #0D47A1;
    font-family: Ubuntu;
}

#dashboard2 {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #ECEFF1;
    color: #0D47A1;
    font-family: Ubuntu;
}

#button1{
    border-radius: 40px;
    padding: 10px;
    width: 30%;
    background-color: #1565C0;
    color: aliceblue
}

#button1:hover {
    background-color: #0D47A1;
}


.calcbutton {
    padding: 20px;
}

.inputcontainer input {
    padding: 25px;
}

#footer {
    font-family: Ubuntu;
    font-weight: bolder;
    background-color: #1565C0;
    color: white;
}

#footer a {
    color   :white;
}

#footer1 {
    font-family: Ubuntu;
    font-weight: bolder;
    background-color: #1565C0;
    color: white;
}

#footer1 a {
    color   :white;
}

#footer2 {
    font-family: Ubuntu;
    font-weight: bolder;
    background-color: #1565C0;
    color: white;
}

#footer2 a {
    color   :white;
}

